# Шаг 1. Импортируйте необходимые библиотеки

In [11]:
import numpy as np
import pandas as pd

# Шаг 2. Импортируйте набор данных с этого [адреса]  (https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [12]:
download= ('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')

# Шаг 3. Сохраните его в переменной с именем drinks

In [19]:
drinks= pd.read_csv(download)
pd.set_option("display.max.columns", None)
drinks.head(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU

# Шаг 4. На каком континенте в среднем пьют больше пива?

In [20]:
most_beer_drinks= drinks.sort_values(by='beer_servings', ascending= False)
print(most_beer_drinks['continent'][1])

EU

# Шаг 5.  Для каждого континента вывести статистику по потреблению вина.

In [15]:
most_vine_drinks= drinks.drop(drinks.columns[[1, 2, 4]], axis=1) 
most_vine_drinks.drop_duplicates(subset=['continent'], keep='first')
most_vine_drinks_AS= most_vine_drinks[(most_vine_drinks['continent']=='AS')]
most_vine_drinks_EU= most_vine_drinks[(most_vine_drinks['continent']=='EU')]
most_vine_drinks_AF= most_vine_drinks[(most_vine_drinks['continent']=='AF')]
most_vine_drinks_SA= most_vine_drinks[(most_vine_drinks['continent']=='SA')]
most_vine_drinks_OC= most_vine_drinks[(most_vine_drinks['continent']=='OC')]
most_vine_drinks_NaN= most_vine_drinks[most_vine_drinks['continent'].isnull()]
most_vine_drinks_AS,most_vine_drinks_EU,most_vine_drinks_AF,most_vine_drinks_SA,most_vine_drinks_OC,most_vine_drinks_NaN

(                  country  wine_servings continent
 0             Afghanistan              0        AS
 12                Bahrain              7        AS
 13             Bangladesh              0        AS
 19                 Bhutan              0        AS
 24                 Brunei              1        AS
 30               Cambodia              1        AS
 36                  China              8        AS
 46            North Korea              0        AS
 77                  India              0        AS
 78              Indonesia              0        AS
 79                   Iran              0        AS
 80                   Iraq              0        AS
 82                 Israel              9        AS
 85                  Japan             16        AS
 86                 Jordan              1        AS
 87             Kazakhstan             12        AS
 90                 Kuwait              0        AS
 91             Kyrgyzstan              6        AS
 92                   Laos            123        AS
 94                Lebanon             31        AS
 102              Malaysia              0        AS
 103              Maldives              0        AS
 112              Mongolia              8        AS
 116               Myanmar              0        AS
 119                 Nepal              0        AS
 127                  Oman              1        AS
 128              Pakistan              0        AS
 134           Philippines              1        AS
 137                 Qatar              7        AS
 138           South Korea              9        AS
 141    Russian Federation             73        AS
 149          Saudi Arabia              0        AS
 154             Singapore             11        AS
 161             Sri Lanka              0        AS
 167                 Syria             16        AS
 168            Tajikistan              0        AS
 169              Thailand              1        AS
 171           Timor-Leste              4        AS
 176                Turkey              7        AS
 177          Turkmenistan             32        AS
 181  United Arab Emirates              5        AS
 186            Uzbekistan              8        AS
 189               Vietnam              1        AS
 190                 Yemen              0        AS,
                 country  wine_servings continent
 1               Albania             54        EU
 3               Andorra            312        EU
 7               Armenia             11        EU
 9               Austria            191        EU
 10           Azerbaijan              5        EU
 15              Belarus             42        EU
 16              Belgium            212        EU
 21   Bosnia-Herzegovina              8        EU
 25             Bulgaria             94        EU
 42              Croatia            254        EU
 44               Cyprus            113        EU
 45       Czech Republic            134        EU
 48              Denmark            278        EU
 57              Estonia             59        EU
 60              Finland             97        EU
 61               France            370        EU
 64              Georgia            149        EU
 65              Germany            175        EU
 67               Greece            218        EU
 75              Hungary            185        EU
 76              Iceland             78        EU
 81              Ireland            165        EU
 83                Italy            237        EU
 93               Latvia             62        EU
 98            Lithuania             56        EU
 99           Luxembourg            271        EU
 105               Malta            120        EU
 111              Monaco              0        EU
 113          Montenegro            128        EU
 120         Netherlands            190        EU
 126              Norway            129        EU
 135              Poland             56        EU
 136            Portugal            339        EU
 139             Moldova             18        EU
 140             Romania            167        EU
 147          San Marino              0        EU
 151              Serbia            127        EU
 155            Slovakia            116        EU
 156            Slovenia            276        EU
 160               Spain            112        EU
 165              Sweden            186        EU
 166         Switzerland            280        EU
 170           Macedonia             86        EU
 180             Ukraine             45        EU
 182      United Kingdom            195        EU,
                       country  wine_servings continent
 2                     Algeria             14        AF
 4                      Angola             45        AF
 18                      Benin             13        AF
 22                   Botswana             35        AF
 26               Burkina Faso              7        AF
 27                    Burundi              0        AF
 28              Cote d'Ivoire              7        AF
 29                 Cabo Verde             16        AF
 31                   Cameroon              4        AF
 33   Central African Republic              1        AF
 34                       Chad              1        AF
 38                    Comoros              1        AF
 39                      Congo              9        AF
 47                   DR Congo              1        AF
 49                   Djibouti              3        AF
 53                      Egypt              1        AF
 55          Equatorial Guinea            233        AF
 56                    Eritrea              0        AF
 58                   Ethiopia              0        AF
 62                      Gabon             59        AF
 63                     Gambia              1        AF
 66                      Ghana             10        AF
 70                     Guinea              2        AF
 71              Guinea-Bissau             21        AF
 88                      Kenya              2        AF
 95                    Lesotho              0        AF
 96                    Liberia              2        AF
 97                      Libya              0        AF
 100                Madagascar              4        AF
 101                    Malawi              1        AF
 104                      Mali              1        AF
 107                Mauritania              0        AF
 108                 Mauritius             18        AF
 114                   Morocco             10        AF
 115                Mozambique              5        AF
 117                   Namibia              1        AF
 123                     Niger              1        AF
 124                   Nigeria              2        AF
 142                    Rwanda              0        AF
 148       Sao Tome & Principe            140        AF
 150                   Senegal              7        AF
 152                Seychelles             51        AF
 153              Sierra Leone              2        AF
 158                   Somalia              0        AF
 159              South Africa             81        AF
 162                     Sudan              0        AF
 164                 Swaziland              2        AF
 172                      Togo             19        AF
 175                   Tunisia             20        AF
 179                    Uganda              0        AF
 183                  Tanzania              1        AF
 191                    Zambia              4        AF
 192                  Zimbabwe              4        AF,
        country  wine_servings continent
 6    Argentina            221        SA
 20     Bolivia              8        SA
 23      Brazil             16        SA
 35       Chile            172        SA
 37    Colombia              3        SA
 52     Ecuador              3        SA
 72      Guyana              1        SA
 132   Paraguay             74        SA
 133       Peru             21        SA
 163   Suriname              7        SA
 185    Uruguay            220        SA
 188  Venezuela              3        SA,
               country  wine_servings continent
 8           Australia            212        OC
 40       Cook Islands             74        OC
 59               Fiji              1        OC
 89           Kiribati              1        OC
 106  Marshall Islands              0        OC
 110        Micronesia             18        OC
 118             Nauru              8        OC
 121       New Zealand            175        OC
 125              Niue              7        OC
 129             Palau             23        OC
 131  Papua New Guinea              1        OC
 146             Samoa             24        OC
 157   Solomon Islands              1        OC
 173             Tonga              5        OC
 178            Tuvalu              9        OC
 187           Vanuatu             11        OC,
                           country  wine_servings continent
 5               Antigua & Barbuda             45       NaN
 11                        Bahamas             51       NaN
 14                       Barbados             36       NaN
 17                         Belize              8       NaN
 32                         Canada            100       NaN
 41                     Costa Rica             11       NaN
 43                           Cuba              5       NaN
 50                       Dominica             26       NaN
 51             Dominican Republic              9       NaN
 54                    El Salvador              2       NaN
 68                        Grenada             28       NaN
 69                      Guatemala              2       NaN
 73                          Haiti              1       NaN
 74                       Honduras              2       NaN
 84                        Jamaica              9       NaN
 109                        Mexico              5       NaN
 122                     Nicaragua              1       NaN
 130                        Panama             18       NaN
 143             St. Kitts & Nevis             32       NaN
 144                     St. Lucia             71       NaN
 145  St. Vincent & the Grenadines             11       NaN
 174             Trinidad & Tobago              7       NaN
 184                           USA             84       NaN)

# Шаг 6. Вывести среднее потребление алкоголя по каждому континенту по каждому столбцу

In [16]:
drinks_mean= drinks.drop(drinks.columns[[0 , 4]], axis=1) 
drinks_mean
drinks_mean_AS= drinks_mean[(drinks_mean['continent']=='AS')].describe().loc['mean']
drinks_mean_EU= drinks_mean[(drinks_mean['continent']=='EU')].describe().loc['mean']
drinks_mean_AF= drinks_mean[(drinks_mean['continent']=='AF')].describe().loc['mean']
drinks_mean_SA= drinks_mean[(drinks_mean['continent']=='SA')].describe().loc['mean']
drinks_mean_OC= drinks_mean[(drinks_mean['continent']=='OC')].describe().loc['mean']
drinks_mean_NaN= drinks_mean[drinks_mean['continent'].isnull()].describe().loc['mean']
print('AS:\n',drinks_mean_AS ,'\n' ,'EU:\n',drinks_mean_EU,'\n', 'AF:', drinks_mean_AF,'\n','SA:\n', drinks_mean_SA,'\n','OC:\n', drinks_mean_OC,'\n','NaN:\n', drinks_mean_NaN)

AS:
 beer_servings      37.045455
spirit_servings    60.840909
wine_servings       9.068182
Name: mean, dtype: float64
 EU:
 beer_servings      193.777778
spirit_servings    132.555556
wine_servings      142.222222
Name: mean, dtype: float64
 AF: beer_servings      61.471698
spirit_servings    16.339623
wine_servings      16.264151
Name: mean, dtype: float64
 SA:
 beer_servings      175.083333
spirit_servings    114.750000
wine_servings       62.416667
Name: mean, dtype: float64
 OC:
 beer_servings      89.6875
spirit_servings    58.4375
wine_servings      35.6250
Name: mean, dtype: float64
 NaN:
 beer_servings      145.434783
spirit_servings    165.739130
wine_servings       24.521739
Name: mean, dtype: float64

# Шаг 7.  Вывести медианное потребление алкоголя по каждому континенту по каждому столбцу

In [17]:
drinks_median_AS= drinks_mean[(drinks_mean['continent']=='AS')].describe().loc['50%']
drinks_median_EU= drinks_mean[(drinks_mean['continent']=='EU')].describe().loc['50%']
drinks_median_AF= drinks_mean[(drinks_mean['continent']=='AF')].describe().loc['50%']
drinks_median_SA= drinks_mean[(drinks_mean['continent']=='SA')].describe().loc['50%']
drinks_median_OC= drinks_mean[(drinks_mean['continent']=='OC')].describe().loc['50%']
drinks_median_NaN= drinks_mean[drinks_mean['continent'].isnull()].describe().loc['50%']
print('AS:\n',drinks_median_AS ,'\n' ,'EU:\n',drinks_median_EU,'\n', 'AF:', drinks_median_AF,'\n','SA:\n', drinks_median_SA,'\n','OC:\n', drinks_median_OC,'\n','NaN:\n', drinks_median_NaN)

AS:
 beer_servings      17.5
spirit_servings    16.0
wine_servings       1.0
Name: 50%, dtype: float64
 EU:
 beer_servings      219.0
spirit_servings    122.0
wine_servings      128.0
Name: 50%, dtype: float64
 AF: beer_servings      32.0
spirit_servings     3.0
wine_servings       2.0
Name: 50%, dtype: float64
 SA:
 beer_servings      162.5
spirit_servings    108.5
wine_servings       12.0
Name: 50%, dtype: float64
 OC:
 beer_servings      52.5
spirit_servings    37.0
wine_servings       8.5
Name: 50%, dtype: float64
 NaN:
 beer_servings      143.0
spirit_servings    137.0
wine_servings       11.0
Name: 50%, dtype: float64

# Шаг 8.  Вывести среднее, минимальное и максимальное значения для потребления напитков(столбец spirit).

In [8]:
drinks_spirit= drinks.drop(drinks.columns[[0, 1, 3, 4]], axis=1)
drinks_spirit_AS= drinks_spirit[(drinks_spirit['continent']=='AS')].describe().loc['mean':'max'].drop(labels = ['std','25%','50%','75%'],axis = 0)
drinks_spirit_EU= drinks_spirit[(drinks_spirit['continent']=='EU')].describe().loc['mean':'max'].drop(labels = ['std','25%','50%','75%'],axis = 0)
drinks_spirit_AF= drinks_spirit[(drinks_spirit['continent']=='AF')].describe().loc['mean':'max'].drop(labels = ['std','25%','50%','75%'],axis = 0)
drinks_spirit_SA= drinks_spirit[(drinks_spirit['continent']=='SA')].describe().loc['mean':'max'].drop(labels = ['std','25%','50%','75%'],axis = 0)
drinks_spirit_OC= drinks_spirit[(drinks_spirit['continent']=='OC')].describe().loc['mean':'max'].drop(labels = ['std','25%','50%','75%'],axis = 0)
drinks_spirit_NaN= drinks_spirit[drinks_spirit['continent'].isnull()].describe().loc['mean':'max'].drop(labels = ['std','25%','50%','75%'],axis = 0)
print('AS:\n',drinks_spirit_AS ,'\n' ,'EU:\n',drinks_spirit_EU,'\n', 'AF:', drinks_spirit_AF,'\n','SA:\n', drinks_spirit_SA,'\n','OC:\n', drinks_spirit_OC,'\n','NaN:\n', drinks_spirit_NaN)

AS:
       spirit_servings
mean        60.840909
min          0.000000
max        326.000000
 EU:
       spirit_servings
mean       132.555556
min          0.000000
max        373.000000
 AF:       spirit_servings
mean        16.339623
min          0.000000
max        152.000000
 SA:
       spirit_servings
mean           114.75
min             25.00
max            302.00
 OC:
       spirit_servings
mean          58.4375
min            0.0000
max          254.0000
 NaN:
       spirit_servings
mean        165.73913
min          68.00000
max         438.00000